<!DOCTYPE html>
<html>
  <head>
    <title>video1</title>
    <script>
      
      var p=0;

      var pos=0;

      function loadXMLDoc() {
     
     
        console.log("loadXMLDoc",pos++);

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange =   function() {


        console.log("ready"+this.readyState);
        console.log("status"+this.status);
         if (this.readyState == 4 && this.status == 200) {

           console.log(this.responseText + "hh");

           if (this.responseText.length > 0) {


             if (this.responseText.length != 223) {
               document.getElementById("demo").innerHTML = this.responseText;

               var parser = new DOMParser();
               var dom = parser.parseFromString(this.responseText, "text/html");
               var p = dom.querySelector('p');
               var colorText = p.textContent;
               console.log("colorText---" + colorText);
               var h = dom.querySelector('h1');
               var backgroundColor = h.textContent;
               console.log("backgroundColor***" + backgroundColor);


               document.getElementById("demo").style.color = colorText;
               document.body.style.backgroundColor = backgroundColor;

               var video = document.getElementById("myVideo");
               var text = document.getElementById("demo");


               video.style.display = "none";
               text.style.display = "block";

               console.log(this.responseText.length);
               clearInterval(interval);
               setTimeout(function myGreeting() {

                 text.style.display = "none";
                 document.body.style.margin = "0";
                 document.body.style.lineHeight = "1.5";
                 document.body.style.padding = "0";
                 video.style.display = "block";


                 changeintervaltime();
               }, 20000);

             }

           }
         }
                 
            
      };
        
      xhttp.open("GET", "/BlessList", true);
      xhttp.send();
    };
      

    function changeintervaltime()
    {

        document.getElementById("myVideo").style.display = "block";
        document.getElementById("demo").style.display = "none";
        document.body.style.backgroundColor = "white";

        interval = setInterval(loadXMLDoc,2000);

    }

        
        var interval =setInterval(loadXMLDoc, 2000);

    

      
        </script>


<style>
  #demo {
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 7vw;
    text-align: center;
  }
 
  #myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  body {
			
			line-height: 1.5;
			margin: 0;
			padding: 0;
		}
  
</style>
    
  </head>
  <body>
    


    <video id="myVideo"  autoplay  muted >
    </video>
    
  

    <p id="demo" style="display: none; "> </p>




    <script src="../video_p.js"></script>







  </body>
</html>
